

@media(max-height: 960px){
  .P-cover-page{
    min-height: 960px;
    padding-bottom: 60px;
  }
}

@media (max-width: 766.98px) and (max-height: 960px) {
  min-height: auto;
}

@media (max-width: 766.98px){
.P-cover-page{
  background-image:none !important
}
  .P-cover-title{
    background-image: url('../../../../assets/images/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    h1{
      font-size: 50px;
      line-height: 1;
    }
    p{
      font-size: 20px;
      line-height: 1;
      margin-top: 15px;
    }
  }
  .P-cover-information{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
align-items: center;
    .P-cover-button{
      max-width: 350px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto 30px;
      button{
        font-size: 16px;
      }
    }

  }
  .P-cover-info-bock ul li p{
    color: black;
    font-size: 14px;
    margin-left: 20px;
  }
  .P-cover-info-bock ul li h3{
    margin-left: 20px;
font-size: 20px;
  }
  .P-cover-info-bock ul li + li{
    margin-top: 0;
  }
  .svg-prize{
    width: 46px;
    height: 46px;
  }
  .svg-prize-1{
    width: 46px;
    height: 26px;
  }
  .P-cover-page{
    min-height: auto;
    padding-bottom: 20px;
  }
}
