.P-cover-page{
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.P-cover-title{
  padding-top: 200px;
  h1{
    font-size: 90px;
    line-height: 90px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: BebasNeue;
    word-spacing: 1px;
  }
  p{
    font-family: MuseoSansCyrl700;
    font-size: 50px;
    line-height: 60px;
    color: white;
    span{
      color: #FF3754;

    }
  }
}

.svg-prize{

    width: 70px;
    height: 70px;
    vertical-align: middle;

}

.svg-earth{
  width: 22px;
  height: 22px;
  margin-left: 5px;
}

.P-cover-information{
  margin-top: 65px;
}
.svg-prize-1{
  width: 70px;
  height: 40px;
  vertical-align: middle;
}
.P-cover-info-bock{
  ul{
    li + li{
      margin-top: 15px;
    }
  }
  ul {
    li{
      display: flex;
      align-items: center;
      h3{
        font-family: MuseoSansCyrl700;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #FFFFFF;
        padding: 3px 8px;
        background-color: #FF3754;
        border-radius: 4px;
        margin-left: 60px;
      }
      p{
        font-family: MuseoSansCyrl700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        margin-left: 60px;
      }
    }
  }
}

.P-cover-button{
  max-width: 410px;
  margin-top: 120px;
}