@media(max-width: 991px){
  .P-company-list .P-padding-company{
    width: 33.33%;
  }
}


@media(max-width: 766.98px){
  .P-company-list .P-padding-company{
    width: 50%;
  }
  .P-company-title{
    h2{
      font-size: 40px;
    }
  }
  .P-company-list{
    margin-top: 20px;
  }
  .P-company-section{
    padding-bottom: 60px;
  }

}

@media(max-width: 575.98px){
  .P-company-list .P-padding-company{
    width: 100%;
  }
}