.P-company-section{
background: linear-gradient(180deg, #FDF4F4 0%, #ECF3EC 100%);
  padding:70px 0 120px 0;
}
.P-company-title{
  h2{
    font-family: BebasNeue;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #FF3754;
  }
}

.P-company-list{
  margin: 60px -15px 0;

  .P-padding-company{
    padding: 15px;
    width: 25%;
    .P-company-img-block{
      width: 100%;
      height: 185px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .P-company-information{
      padding: 15px;
      h3{
        font-family: MuseoSansCyrl700;
        font-size: 18px;
        line-height: 160%;
        color: #303030;
      }
      p{
        font-family: MuseoSansCyrl300;
        font-size: 18px;
        line-height: 160%;
        color: #303030;
        margin-top: 20px;
      }
    }
  }
}