@media(max-width: 1500px){
  .P-slider-img{
    width: 350px;
    height: 350px;
  }
}

@media(max-width: 1200px){
  .P-slider-box{
    padding: 0 30px;
    border: none;
    &:before,&:after{
      display: none;
    }
  }
  .P-slider-box .slick-prev, .P-slider-box .slick-next{
    bottom: -110px;
  }
}

@media(max-width: 991px){
  .P-slider-img{
    width: 300px;
    height: 300px;
  }
  .P-slider-section{
    flex-direction: column-reverse;
  }
  .P-left-path, .P-right-path{
    width: 100%;
  }
  .P-left-path{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 766.98px){
  .show-all-button{
    display: block;
  }
  .P-slider-block{
    margin-top: 20px;
  }
  .P-slider-tittle{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .P-slider-img{
    width: 150px;
    height: 150px;
  }
  .P-left-path{
    margin-top: 40px;
  }
  .P-left-path h2{
    font-size: 40px;
    line-height: 1;
  }
  .P-left-path h3{
    font-size: 30px;
    line-height: 1;
  }
  .P-slider-box{
    padding: 0;
  }
}