.P-left-path, .P-right-path{
  width: 50%;
}
.P-slider-block{
  margin-top: 80px;
  margin-bottom: 85px;
}
.P-slider-tittle{
  font-family: BebasNeue;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #FF3754;
  margin-bottom: 60px;
}

.P-slider-img{
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    max-width: 550px;
  width: 100%;
  height: 550px;
  margin: 0 auto;
}


.P-left-path{
  h2{
    font-family: BebasNeue;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    color: #FF3754;
  }
  h3{
    font-family: BebasNeue;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #888888;
    margin-top: 10px;
  }
  span{
    font-family:MuseoSansCyrl300;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #303030;
    margin-top: 17px;
  }
  .P-slider-information{
    margin-top: 40px;
    ul{
      li+li{      margin-top: 15px;
      }
      li{
        position: relative;
        padding-left: 25px;
        font-family: MuseoSansCyrl300;
        font-size: 18px;
        color: #303030;
        &:before{
          position: absolute;
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 3px;
          background-color: #FF3754;
          left: 0;
          top: 5px;
        }
      }
    }
    h3{
      font-family: MuseoSansCyrl700;
      font-size: 18px;
      line-height: 160%;
      color: #000000;
      margin-top: 30px;
    }
    p{
      font-family: MuseoSansCyrl300;
      font-size: 18px;
      line-height: 160%;
      color: #000000;
      margin-top: 10px;
    }
  }
}

.P-slider-box{
  border: 20px solid #FF3754;
  padding: 25px 100px;
  position: relative;


  &:before{
    position: absolute;
    content: '';
    top: -21px;
    left: 50%;
    transform: translateX(-50%);

    width: 95%;
    height: 25px;
    background-color: white;

  }
  &:after{
    position: absolute;
    content: '';
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);

    width: 95%;
    height: 25px;
    background-color: white;

  }

  .slick-prev, .slick-next{
    width: 30px;
    height: 25px;
    bottom: -155px;
    top: auto;
    left: -160px;
    right: 0;
    margin: auto;
    z-index: 99;

    &:hover{
       &:before{
         background-color: #FF3754;
       }
      &:after{
        border-color: #FF3754;
      }
    }

    &:before{
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      background-color: #888888;
      border-radius: 4px;
      top: 50%;transform: translateY(-50%);
      left: 0;
      transition: 0.3s;
    }
    &:after{
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      border: 4px solid #888888;
      border-left: none;
      border-bottom: none;
      border-radius: 4px;
      top: 50%;transform: translateY(-50%) rotate(-135deg);
      left: 0;
      transition: 0.3s;
    }

  }
  .slick-next{
    right: -160px;
    left: 0;
    &:after{
      transform: translateY(-50%) rotate(45deg);
      left: auto;
      right: 0;
    }
  }
}

.P-slider-count{
  margin-top: 70px;
  p{
    font-family: MuseoSansCyrl700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #303030;
  }
}
