@media(max-width: 766.98px){
  .P-header-call-back, .P-header-soc-logins{
    display: none;
  }
  .P-menu-block{
    .P-header-call-back, .P-header-soc-logins{
      display: block;
    }
  }

  .P-menu-list a{
    font-size: 20px;
  }
  .P-menu-list{
    ul{
      margin-top: 35px;
    }
    .P-header-soc-logins{
      margin-top: 0;
    }
  }
  header .P-logo{
    height: auto;
   svg{
     height: 30px;
     width: 93px;
   }
  }
  header{
    height: 60px;
  }
  .P-menu-block{
    top: 60px;
  }
}