header {
  height: 110px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
transition: 0.3s;
  .P-logo {
    width: 220px;
    height: 58px;

  }

  &.header-open-menu{
    background-color: #FFFFFF;
    .P-header-call-back{
      span{
        color: black;
      }
    }
    .open-menu{
      span{
        background-color: black;
      }
      span:first-child{
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      top: 17px;
      }

      span:last-child {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 17px;
      }
    }
  }
  &.add-fixed-style{
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    .P-header-call-back{
      span{
        color: black;
      }
    }
    .open-menu{
      span{
        background-color: black;
      }
    }
  }

}

.svg-class-name {
  path {
    fill: black;
  }
}



.open-menu {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  margin-left: 40px;
  cursor: pointer;
}

.open-menu span {
  position: absolute;
  height: 2px;
  background-color: white;
  width: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.open-menu-react .open-menu span {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: white;
}

.open-menu-react .open-menu span:first-child, .open-menu-react .open-menu span:last-child {
  display: none;
}

.open-menu-react .open-menu span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open-menu-react .open-menu span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/*header start */
.open-menu span:first-child {
  top: 10px;
}

.open-menu span:last-child {
  top: 20px;
}


//Menu block


.P-menu-block{
  position: fixed;
  width: 100%;
  height:0;
  top: 110px;
  overflow: hidden;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  padding-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.95);


  &.open-menu-block{
    height: 100%;
    visibility: visible;
    opacity: 1;
  }
}

.P-menu-list{
  position: relative;
  margin: 40px 0;
  text-align: center;
  ul{
    li + li{
      margin-top: 20px;
    }
  }
  a{
    font-family: MuseoSansCyrl700;
    font-size: 50px;
    text-align: center;
    color: #303030;
    position: relative;
    padding-bottom: 1px;
    &:hover:before{
      width: 100% !important;
    }
    &:before{
      position: absolute;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      transition: 0.3s;
      width: 0;
      height: 1px ;
      background-color: #303030;
    }
  }
}


.P-header-call-back {
  svg {
    width: 24px;
    height: 24px;
  }

  span {
    margin-left: 20px;
    font-family: MuseoSansCyrl700;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #FFFFFF;
  }
}

.P-header-soc-logins {
  margin-left: 30px;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul{
    li{
      margin: 0 15px;
    }
  }
  .P-insta-icon{
    width: 28px;
    height: 28px;
    padding: 2px;
    position: relative;
    z-index: 99;

    svg{
      position: relative;
      width: 100%;
      height: 22px;
      margin-top: 3px;
    }
    &:before{
      position: absolute;
      content: '';
      background: radial-gradient(98.67% 98.67% at -7.7% 73.44%, #FFDD55 0%, #FFDD55 10%, #FF543E 50%, #C837AB 100%);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &:after{
      position: absolute;
      content: '';
      background: radial-gradient(56.1% 56.1% at -0.32% -2.14%, #3771C8 0%, #3771C8 12.8%, rgba(102, 0, 255, 0) 100%);

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .P-vk-icon{
    width: 28px;
    height: 28px;
    padding: 2px;
    position: relative;
    z-index: 99;
    background-color: #4C77A6;
  }
}

.P-menu-list{
  padding: 20px 0 50px 0;

  max-height: 1000px;
  .P-header-soc-logins{
    margin-left: 0;
    margin-top: 40px;
    .P-insta-icon:before{
      left: 14px;
    }
    li+li{    margin-top: 0;
    }
  }
  .P-header-call-back, .P-header-soc-logins{
    display: none;
   a{
     >div{
       display: flex;
       >div{
         display: flex;

       }
     }
   }
  }
}

.body-fixed{
  overflow: hidden;
}