
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
iframe,
ol,
ul,
li,
form,
label,
i,
footer,
header,
menu,
nav,
a,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
video,
canvas,
section,
  /*commonly used tags*/
applet,
object,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
hgroup,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
dl,
dt,
dd,
fieldset,
legend,
article,
aside,
details,
embed,
figure,
figcaption,
output,
section,
summary,
time,
mark,
audio,
center,
ruby {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
label {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  display: inline-block;
  text-decoration: none;
  font: inherit;
}

button {
  cursor: pointer;
  position: relative;
}

input,
button,
select,
textarea {
  display: inline-block;
  padding: 0;
  border: 0;
  font: inherit;
}
.d_none{
  display: none;
}
.d_block{
  display: block;
}
svg{
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}
strong{
  font-weight: 600;
}
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Arial;
  /*font-family: 'ArialunicodeMS';*/
  position: relative;

}
header,section {
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
  /* -webkit-overflow-scrolling: touch; */
}

.container{
  padding: 0 2vw;
  width: 100%;
  margin: 0 auto;
}

// #region Flex

.G-flex {
  display : flex;
}

.G-inline-flex {
  display: inline-flex;
}

.G-center {
  justify-content : center;
  align-items     : center;
}

.G-justify-center {
  justify-content : center;
}

.G-justify-between {
  justify-content : space-between;
}

.G-justify-around {
  justify-content : space-around;
}

.G-justify-end {
  justify-content : flex-end;
}

.G-align-center {
  align-items : center;
}

.G-align-start {
  align-items : flex-start;
}

.G-align-end {
  align-items : flex-end;
}

.G-flex-column {
  flex-direction : column;
}

.G-flex-wrap {
  flex-wrap : wrap;
}
// #endregion


.G-admin-pages{
  padding: 0 0 0 150px ;
  width: 100%;
}



.G-btn button {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 68px;
  background-color: #FF3754;;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: MuseoSansCyrl300;
  border-radius: 4px;
}

.G-btn button:before,
.G-btn a:before {
  content: "";
  position: absolute;
  width: 3em;
  height: 100%;
  top: 0;
  left: -35%;
  -webkit-transform: skewX(-45deg) translateX(0);
  -ms-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
}

.G-btn button:hover:before,
.G-btn a:hover:before {
  left: 130%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


.notification-success{
  background-color: white;
  border-left: 6px solid forestgreen;
  box-shadow: none;
  color: black;
  &:before{
    color: forestgreen !important;
    //content: '' !important;
  }
}

.notification-error{
  background-color: white;
  border-left: 6px solid red;
  box-shadow: none;
  color: black;
  &:before{
    color: red !important;
    //content: '' !important;
  }
}


.P-admin-container{
 height: calc(100vh - 60px);
  padding: 15px;
  .P-admin-page-box{
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    width: 100%;
    height: calc(100vh - 90px);
    padding: 15px;
    overflow: hidden;


  }
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(25, 14, 181, 1);
}


.G-container{
  max-width: 1920px;
  width: 100%;
  padding: 0 95px;
  margin: 0 auto;
  @media(max-width: 1200px){
    padding: 0 15px;
  }
}

.P-menu-block::-webkit-scrollbar {
  display: none;
}